/* Loader Principal */
.loader_bg{
  position: fixed;
  z-index: 999999;
  background: black;
  width: 100%;
  height: 100%;
}
.loader{
  border: 0 soild transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}
.loader:before, .loader:after{
  content: '';
  border: 1em solid #DE9F27;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}
.loader:before{
  animation-delay: .5s;
}

/* Loader Disponibilidad Mapa */
.preloader-bg{
  display:none;
  justify-content: center;
  align-items: center;
  width:auto;
  height: 95vh;
  z-index: 2;
  background-color: #1a1a1a;
  margin-top: 15px;
  border-radius: 11px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.preloader{
  border: 0 soild transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
}

.preloader:before, .preloader:after{
  content: '';
  border: 1em solid #DE9F27;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 1s linear infinite;
  opacity: 0;
}
.preloader:before{
  animation-delay: .2s;
}

@keyframes loader{
  0%{
      transform: scale(0);
      opacity: 0;
  }
  50%{
      opacity: 1;
  }
  100%{
      transform: scale(1);
      opacity: 0;
  }
}
