  .cls-1 {
    filter: url(#filter);
  }
  
  .cls-2 {
    fill: #1a1a1a;
    stroke:#de9f27;
    stroke-width: 1px;
  }

  .cls-2, .cls-3, .cls-4, .cls-5 {
    fill-rule: evenodd;
  }
.cls-5{
  fill:#000;
}
  .cls-3 {
    fill: #010101;
  }

  .cls-4, .cls-6 {
    fill: #e8bc68;
    stroke: #e8bc68;
    stroke-width: 6px;
  }

  [data-manzana]:hover{
    fill: #de9f27;
    cursor: pointer;
  }
  tspan{
    font-weight: 700;
    font-size: 25px;
  }
  .mapa-interactivo svg {
    width:100%;
    height:100%;
  }
  /* Brujula Mapas */
  .detalles-mapa svg{
    display: flex;
    width:100px;
    height: 150px;
    margin-left:83%;
    position: absolute;
    bottom: -132%;
  }
