  .cls-1 {
    filter: url(#filter);
  }
  
  .cls-2 {
    fill: #000;
    stroke: #de9f27;
    stroke-width: 1.96px;
  }

  .cls-2, .cls-3, .cls-4, .cls-5 {
    fill-rule: evenodd;
  }

  .cls-3 {
    fill: #010101;
  }

  .cls-4, .cls-6 {
    fill: #de9f27;
    stroke: #de9f27;
    stroke-width: 0.88px;
  }

  [data-lote]:hover{
    fill: #de9f27;
    cursor: pointer;
  }

  [data-manzana]:hover{
    fill: #de9f27;
    cursor: pointer;
  }

  @media(max-width: 768px){
    #mapa-interactivo svg{
      width: 750px;
      height: 1000px;
    }
  }
  @media (max-width:480px) {
    #mapa-interactivo svg{
      width: 550px;
      height: 600px;
    }
  }

  .disabled{
    fill: rgb(173, 25, 25);
    stroke: #de2727;
    stroke-width: 1.96px;
  }