/* General */
html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

*, *:before, *:after {
    box-sizing: inherit;
}
body {
    width: 100%;
    background-color: #F3F3F3;
    font-family:Lato, sans-serif;
}

header{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
header h2{
    font-size: 25px;
    font-weight: bolder;
}
header .img-logo{
    margin-top: 15px;
    width: 200px;
}
.menu{
    width: 100%;
    padding: 3rem;
    background-color: #000;
    display: flex;
    justify-content: space-between;
}


.logo-index{
    margin: 0 auto;
    margin-top: 25px;
    width: 150px;
    margin-bottom: 15px;
}
/* Linea División */
.division{
    width: 20%;
    height: 5px;
    background-color: #DE9F27;
    margin: 0 auto;
}
.division-detalle{
    width: 27%;
    height: 5px;
    background-color: #DE9F27;
    margin-bottom: 15px;
}
.division-lote{
    width: 21%;
    height: 5px;
    background-color: #DE9F27;
    margin-bottom: 13px;
}
.division-modal{
    margin-top: 10px;
    margin-left: 45px;
    width: 76%;
    height: 5px;
    background-color: #DE9F27;
}

.contenedor {
    width: 82.5%;
    margin: 0 auto;
}
.nombre-desarrollo{
    width: 100%;
    height: 40px;
    padding: 10px;
    color: #fff;
    background-color: #000;
    text-align: center;
    font-size: medium;
    font-weight: 700;
    
}
/* Footer */
.footer{
    background-color: #000;
    padding: 4rem;
    margin-top: 2rem;
}
.tres-columnas{
    padding-left: 160px;
}
footer p{
    font-size: 15px;
    color: white;
}
footer i{
    color: #fff;
    padding: 5px;
}
.col-1 a{
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}

.col-2{
    margin-top: 15px;
    padding-left: 90px;
}
@media (min-width: 768px) {
    .tres-columnas {
        display: flex;
        justify-content: space-between;
    }
    footer div {
        flex: 0 0 calc(33.3% - 1rem);
    }
}



/* Grid Desarrollos Index*/
.grid{
    margin-top: 30px;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
.desarrollo{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0, 0.3);
    padding: 0%;
    height: 290px;
}
.desarrollo img{
    width: 100%;
    height: 251px;
}

@media (min-width: 769px){
    
    .desarrollo:hover .capa{
        bottom: 0;
        opacity: 1;
    }
    .capa img{
        width: 200px;
        height: 120px;
    }
    .capa{
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: -100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
        transition: all 0.3s;
    }   
}

@media (max-width: 768px){

    .desarrollo{
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(0,0,0, 0.3);
        padding: 0%;
        height: 205px;
    }

    .nombre-desarrollo{
        width: 100%;
        height: 40px;
        color: #fff;
        background-color: #000;
        text-align: center;
        font-size: 15px;
        font-weight: 700;
    }
    .tres-columnas{
        padding-left: 15px;
    }
    .col-2{
        margin-top: 15px;
    }
    .col-3{
        margin-top:18px;
    }
   
}

@media (max-width: 480px ){
    .desarrollo{
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(0,0,0, 0.3);
        padding: 0%;
        width: 150px;
        height: 170px;
    }
    .nombre-desarrollo{
        width: 100%;
        height: 31px;
        color: #fff;
        background-color: #000;
        text-align: center;
        font-size: 10px;
        font-weight: 700;
    }
    .tres-columnas{
        padding-left: 15px;
    }
    .col-2{
        margin-top: 15px;
        padding-left: 10px;
    }
}

.grid a{
    text-decoration: none;
}


/* Desarrollos */

@media (min-width: 768px) {
    .descripcion {
        display: flex;
        gap: 2rem;
    }
    article {
        flex: 2;
        font-size: large;
        text-align: justify;
    }
    .img-descripcion {
        flex: 1;
        margin: 0 auto;
    }
}
.servicios-amenidades{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family:Inter;
    font-size: medium;
    margin-top: 30px;
    margin-bottom: 30px;
}

.servicios-amenidades h2{
    margin-bottom:15px;
}

@media(min-width:768px){
    .servicios-amenidades i{
        width: 2px;
        height:2px;
        margin-right: 50px;
        color: #DE9F27;
    }
    .servicios-amenidades p{
        font-size: 15px;
        line-height: 2.5rem;
    }
    .amenidades{
        padding-left: 100px;
        margin-left:0;
    }
    .servicios{
        width:450px;
        padding-left: 100px;  
    } 
    .amenidades{
        padding-left: 100px;
    }
    .servicios{
        padding-left: 100px;
    }
    .servicios-amenidades p{
        font-size: 17px;
        line-height: 4rem;
    }
    .wrapper{
        width: 420px;
        padding: 30px 20px;
        position: absolute;
        overflow: hidden;
    }
}

@media(max-width:480px){
    .servicios-amenidades{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-family:Inter;
        font-size: 10px;
    }
    .servicios-amenidades p{
        font-size: 10px;
        line-height: 2.5rem;
    }
    .servicios-amenidades i{
        width: 2px;
        height:2px;
        margin-right: 20px;
        color: #DE9F27;
        margin-left:0;
    }
    .servicios{
        padding-left: 30px;
    }
    .amenidades{
        width:170px;
        padding-left:10px;
    }
    .col-2{
        margin-top: 15px;
        padding-left:1px;
    }
    .wrapper{
        padding: 30px 20px;
        position: absolute;
        overflow: hidden;
    }
      
}

.servicios-amenidades i{
    width: 3px;
    height: 3px;
    margin-right: 20px;
    color: #DE9F27;
}

/* Dropdown */
.secciones{
   background-color: #fff;
   color: #000;
   font-size: 2rem;
   font-family: Arial, Helvetica, sans-serif;
   padding: 1rem;
   width: 390px;
   margin-top: 2rem;
   margin-bottom: 2rem;
   border-radius: 8px;
}
.modelo{
    background-color: #fff;
    color: #000;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    width: 390px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    border-radius: 8px;
 }

/* Mapa */
.contenedor-mapa{
    width: 95vw;
    margin: auto;
}
.mapa-interactivo{
    width: auto;
    height: 95vh;
    overflow-x: auto;
    /* overflow-y: y;  */
    border-radius: 11px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: #000;
    margin-top: 15px;
}
.zoom-flex{
    height: 70px;
    display: flex;
    gap: 2rem;
    justify-content: right;
}
 .btnz {
    width: 5rem;
    height: 5rem;
    background: #de9f27;
    border: 2px solid #000;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: relative;
    color: #fff;
    padding: 15px 10px 5px;
     text-align: center;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    transition: all 0.3s ease;
    bottom: 670px;
    margin-right: 40px;
  } 

  @media(max-width:768px){
    .btnz {
        display:none;
      } 
  }
   .btnz i{
      font-size: large;
  } 
  .btnz:hover {
    background: #f3f3f3;
    color: #de9f27;
    border-color: #de9f27;
    cursor: pointer;
  }


/* Flecha navegacion */
.arriba{
	display: inline-block;
	padding:20px;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}
/* Carrusel Header*/  
#container-slider
{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#slider {
    position: relative;
    display: flex;
    width: 100%;
    height: 90vh;
    margin: 0;
    /* min-height: 400px; */
}
#slider li {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    z-index: -1;
    opacity: 0;
}
#container-slider .arrowPrev, #container-slider .arrowNext{
    font-size: 30pt;
    color: rgba(204, 204, 204, 0.65);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50px;
    z-index: 2; 
}
#container-slider .arrowNext {
    left: initial;
    right: 50px !important;
}
.content_slider{
    padding: 15px 30px;
    color: #FFF;
    width: 100%;
    height: 100%;
}

#slider li .content_slider{
    background: rgba(0, 0, 0, 0.50);
    padding: 5px 125px;
}
.content_slider{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnSlider{
    color: #FFF;
    font-size: 15pt;
    font-family: 'arial';
    letter-spacing: 1px;
    padding: 10px 50px;
    border: 1px solid #CCC;
    background: rgba(13, 13, 13, 0.55);
    border-radius: 31px;
    text-decoration: none;
    transition: .5s all;
}
.btnSlider:hover{
    background: #111;
    border: 1px solid #111;
}
.listslider {
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    bottom: 5%;
    list-style: none;
    z-index: 2;
    transform: translateX(-50%);
}
.listslider li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin: 0 5px;
}
.listslider li a {
    background: #CCC;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: block;
}
.item-select-slid {
    background: #FFF  !important;
}

@media screen and (max-width: 200px){
	#container-slider .arrowPrev, #container-slider .arrowNext{
		font-size: 20pt;
	}
	#container-slider .arrowPrev{
		left: 15px;
	}
	#container-slider .arrowNext{
		right: 15px !important;
	}
	#slider{
		height: 400px;
		min-height: 400px;
	}
	#slider li .content_slider{
		padding: 10px 35px;
	}
	.btnSlider{
		padding: 10px 30px;
    	font-size: 10pt;
	}

}

/* Modal */
.center {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  }
  .popup-overlay {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100vh;
    z-index:1;
    background:rgba(0,0,0,0.5);
    display:none;
  }
  .popup{
    position:absolute;
    top:-150%;
    left:50%;
    transform:translate(-50%,-50%) scale(1.15);
    width:380px;
    height:450px;
    padding: 10px;
    background:#f5f5f5;
    z-index:2;
    opacity:0;
    border-radius: 15px;
    box-shadow:5px 5px 3px rgba(0,0,0,0.2);
    transition:transform 300ms ease-in-out,opacity 300ms ease-in-out;
  }
  body.showLoginForm .popup-overlay {
    display:block;
  }
  body.showLoginForm .popup {
    /* top:80%; */
    opacity:1;
    transform:translate(-50%,-50%) scale(1);
  }
   .popup .popup-close {
    position:absolute;
    top:-10px;
    right:-10px;
    width:40px;
    height:40px;
    background:#555;
    color:#fff;
    font-size:30px;
    font-weight:600;
    text-align:center;
    border-radius:50%;
    cursor:pointer;
  }
  .popup .form .header {
    text-align:center;
    font-size:20px;
    font-weight:600;
    color:#222;
    margin:20px 0px;
  }
  .popup .form .element {
    padding: 12px 20px;
    display: flex;
    justify-content:center;
    align-items: center;
  }
  .info-apartado{
    font-size: small;
    font-weight: 700;
}
  .popup .form .element label {
    width:100%;
    display:flex;
    font-size:14px;
    color:#222;
    margin-bottom:5px;
  }
  .popup .form .element input {
    width:100%;
    border:1px solid #aaa;
    background:#eee;
    border-radius:5px;
    padding-right: 10%;
  }


  .popup .form .element .enviar {
    width:100%;
    color: #4889da; 
    font-size: 15px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: rgba(0,0,0,0);
    border: 2px solid;
    border-color: #4889da;
    transition: all 1s ease;
    position: relative;
    border-radius:5px;
    cursor: pointer;
  }
  .popup .form .element .enviar:hover {
    background: #4889da;
    color: #fff;
  }

  .popup .form .element .cancelar {
    width:100%;
    color: #ff3838;
    font-size: 15px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: rgba(0,0,0,0);
    border: 2px solid;
    border-color: #ff3838;
    transition: all 1s ease;
    position: relative;
    border-radius:5px;
    cursor: pointer;
  }
  .popup .form .element .cancelar:hover {
    background:#ff3838;
    color: #fff;
  }
  .popup .form .element select{
    width:100%;
    padding: 8px 10px;
    box-sizing:border-box;
    outline:none;
    border:1px solid #aaa;
    background:#eee;
    border-radius:5px;
    height: 37px;
    cursor: pointer;
  }
 
/* Alertas */

#toast, #toast2{
    width: 380px;
    height: 90px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(75, 50, 50, 0.05);
    border-radius: 7px;
    display: grid;
    grid-template-columns: 1.2fr 6fr 0.5fr;
    transform: translate(400px); 
    transition: 1s;
    top: 95px; 
    right: 0;
    overflow: hidden;
    position: fixed;
    z-index: 1;
}

.success{
    border-left: 8px solid #47f764;
}

.success i{
    color: #47f764;
}

.container-1 i{
font-size: 35px;
}

.error{
    border-left: 8px solid #ff355b;
}

.error i{
    color: #ff355b;
}
.container-1, .container-2{
align-self:center;
}

.container-2 p:first-child{
    font-size: 16px;
    color: #101020;
    font-weight:600;
}
.container-2 p:last-child{
    font-size: 12px;
    font-weight: 400;
    color: #656565;
}

#toast button{
align-self:  flex-start;
background-color:transparent;
border: none;
font-size: 25px;
line-height: 0;
cursor:pointer;
color: #656565;
}

#toast2 button{
    align-self:  flex-start;
    background-color:transparent;
    border: none;
    font-size: 25px;
    line-height: 0;
    cursor:pointer;
    color: #656565;
    }
.seleccion-btn{
    color:#fff;
    font-size:15px;
    font-weight: 500;
    border: none;
    background: #DE9F27;
    transition: all 1s ease;
    border-radius:5px;
    padding: 0.5em 1.2em;
    cursor: pointer;
    margin: 20px;
    height: 46px;
}
.seleccion-btn:hover{
    background-color: #000;
}

#info-lote {
    width: 200px;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 10pt;
    background-color:rgb(88, 80, 80);
    color:#fff;
    border-radius: 8px;
    position: absolute;
    display: none;
  }
  
  /* #info-lote:after{
    content: "";
    position: absolute;
    top: 10px;
    left: -15px;
    transform: rotate(90deg); 
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 15px solid rgb(73, 70, 70);
} */
/* Media Querie Movil */
@media only screen and (min-device-width: 218px) and (max-device-width: 768px) {
    #logo{
        display: block;
        width: 30%;
    }
    .logo{
        display: none;
    }
}
@media only screen and (min-device-width: 769px){
    #logo{
        display: none;
    }
}




